body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: pink;
}

#todo-list-item {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(200, 233, 255);
  border-radius: 20px;
  margin: 10px 0;
}

#todo-text {
  display: flex;
  justify-content: start;
  width: 100px;
}

#todo-text span {
  /* display: block; */
  width: 100px;
}


.input-area {
  display: flex;
}

.input-area button {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
}

.input-area input {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
}

#delete-button-all {
  margin-top: 20px;
}

.active {
  background-color: lightblue;
}

.group-buttons {
  display: flex;
}

.group-buttons button {
  width: 140px;
  height: 30px;
  flex: 1;
  padding: 1px 1px; 
  margin: 1px;  
  text-align: center;
  align-items: flex-start; 
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-group {
  display: flex;
}